{% extends 'base.html.twig' %}


{% block content %}
  <div class="row">
    <div class="row w-100 my-3 flex-column search-info">
      <div>Year: <em>{{ year }}</em></div>
      <div>Country: <em>{{ country }}</em></div>
      <div>{% if region is not empty %} Region: <em>{{ region }}</em>{% endif %}</div>
      <div>Holiday Count: <em>{{ holidayCount }} public holidays</em></div>
      <div>Maximum non work days in a row: <em>{{ maxNonWorkdaysInARow }} days</em></div>
    </div>
    <h5>Search results:</h5>
    {% for key, month in holidays %}
      <div class="row card w-100 mb-3">
        <h5 class="card-header bg-success">{{ date('1970-' ~ key ~ '-01')|date('F') }}</h5> {# get month's name #}
        <div class="card-body">
          {% for holiday in month %}
            <div class="row flex-column no-gutters mb-3">
              <h5 class="card-title mb-2">
                Day {{ holiday.date.day }}:
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">
                ({{ date( holiday.date.year ~ '-' ~ holiday.date.month ~ '-' ~ holiday.date.day)|date('l') }})
              </h6>
              {% for lang in holiday.name %}
                <p class="card-text mb-1">{{ lang.lang|upper }}: {{ lang.text }}</p>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}